<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LASTFM_API_KEY</key>
	<string>YOUR_LASTFM_API_KEY_HERE</string>
	<key>LASTFM_SHARED_SECRET</key>
	<string>YOUR_LASTFM_SHARED_SECRET_HERE</string>
	<key>DISCOGS_TOKEN</key>
	<string>YOUR_DISCOGS_TOKEN_HERE</string>
</dict>
</plist>
